<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    <meta charset="UTF-8">
    <title>book list</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span>
</nav> <br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Users</h5>
        </div>
    </div>
    <table class="table">
        <thead> <tr>
            <th scope="col">title</th> <th scope="col">author</th> <th scope="col">year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"/>
            <td th:text="${book.author}"/>
            <td th:text="${book.year}"/>
            <td>
                <!--<a th:href="@{/book-detail?id={bookId}(bookId=${book.id})}" class="btn btn-primary">details</a>-->
                <a th:href="@{'/book-detail?id=' + ${book.id}}" class="btn btn-primary">details</a>
            </td>
            <td>
                <form method="post" th:action="@{/delete-book}" th:object="${book}">
                    <input type="hidden" th:value="*{id}" id="book_id_input" name="id"/>
                    <button class="btn btn-danger">details</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>