<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <head>
    <meta charset="UTF-8">
    <title>BookCatalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span> </nav> <br>
<div class="container"> <div class="row">
    <div class="col"> <h5>Book Detail</h5>
    </div>
</div>
    <table class="table"> <tbody>
    <tr>
        <td >id</td>
        <td th:text="${book.id}" />
    </tr>
        <tr>
            <td >title</td>
            <td th:text="${book.title}" />
        </tr>
        <tr>
            <td >description</td>
            <td th:text="${book.description}" />
        </tr>
        <tr>
            <td >author</td>
            <td th:text="${book.author}" />
        </tr>
        <tr>
            <td >year</td>
            <td th:text="${book.year}" />
        </tr>
        <tr>
            <td >isbn</td>
            <td th:text="${book.isbn}" />
        </tr>
    </tbody>
    </table>

    <a th:href="@{/book-list}" >back to book list</a>

</div>
</body>
</html>