<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <head>
    <meta charset="UTF-8">
    <title>BookCatalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span>
</nav> <br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>New Book</h5>
        </div>
    </div>
    <form method="post" th:action="@{/save-book}"  th:object="${book}">
        <table class="table">
            <tbody>
            <tr>
                <td th:text="title"/>
                <td >
                    <input type="text" class="form-control" id="title-input" th:field="*{title}"/>
                </td>
            </tr>
            <tr>
                <td th:text="author"/>
                <td >
                    <input type="text" class="form-control" id="author-input" th:field="*{author}"/>
                </td>
            </tr>
            <tr>
                <td th:text="description"/>
                <td >
                    <input type="text" class="form-control" id="description-input" th:field="*{description}"/>
                </td>
            </tr>
            <tr>
                <td th:text="year"/>
                <td >
                    <input type="number" class="form-control" id="year-input" th:field="*{year}"/>
                </td>
            </tr>
            <tr>
                <td th:text="isbn"/>
                <td >
                    <input type="text" class="form-control" id="isbn-input" th:field="*{isbn}"/>
                </td>
            </tr>
            <tr>
                <td >
                    <input class="btn btn-info" type="submit" th:value="save" />
                </td>
            </tr>
        </table>
    </form>
    <a th:href="@{/book-list}">Book List</a></td>
</div>
</body>
</html>